@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import "bootstrap-editable";

h2 {
    span {
        margin-left: 10px;
    }
}

.btn + .btn {
    margin-left: 4px;
}

.btn-xs + .btn-xs {
    margin-left: 2px;
}

.btn-remote.loading {
    @extend .disabled;
    position: relative;
    &:after {
        position: absolute;
        right: 8px;
        @extend .fa;
        @extend .fa-spinner:before;
        @extend .fa-pulse;
    }
}

.month-selector {
    margin-bottom: 20px;
}

.spacive {
    letter-spacing: 1em;
    margin-right: -1em;
}

.sidemenu {
    top: 60px;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
}

@media screen {
    body {
        margin-top: 60px;
    }
    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
}

@media print {
    .page {
        page-break-after: always;
    }
}
