@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h2 {
    span {
        margin-left: 10px;
    }
}

.btn + .btn {
    margin-left: 4px;
}

.btn-xs + .btn-xs {
    margin-left: 2px;
}

.spacive {
    letter-spacing: 1em;
    margin-right: -1em;
}

@media screen {
    body {
        margin-top: 60px;
    }
}

@media print {
    .page {
        page-break-after: always;
    }
}
