@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
    span {
        margin-left: 10px;
    }
}

@media screen {
    body {
        margin-top: 60px;
    }
}

@media print {
    .page {
        page-break-after: always;
    }
}
